/* version: 1.1.5 */
@font-face {
    font-family: 'SpaceOnlyFont';
    src: url('SpaceOnlyFont.woff2') format('woff2');
}
body {
    background-color: #ff9;
    font-size: 2vh;
}
h1 {
    font-size: 3vh;
    line-height: 3vh;
}
h1 img {
    border: 0;
    padding: 0;
    width: 3vh;
    height: 3vh;
    font-size: 3vh;
    line-height: 3vh;
    vertical-align: top;
}
#pla_textbox {
    font-family: "ＭＳ ゴシック", "ヒラギノ角ゴシック", "Osaka-Mono", "MS Gothic", "Hiragino Sans", "Noto Sans Mono CJK JP", "MS Mincho", monospace, san-serif;
    font-size: 2vh;
}
#pla_canvas_for_display {
    border: 2px solid black;
    background-color: white;
}
textarea.pla_class_textarea {
    width: 95%;
}
@media print {
    body {
        background-color: transparent;
    }
    @page {
        size: landscape;
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    #pla_canvas_for_print {
        width: 99.5%;
        height: 99.5%;
    }
    .display_only {
        display: none;
    }
    .print_only {
        margin: 0;
        padding: 0;
    }
}
@media screen {
    .print_only {
        display: none;
    }
}
select {
    padding: 0;
    font-size: 2.5vh;
    max-width: 65%;
    cursor: pointer;
}
.pla_class_gui_line {
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    vertical-align: middle;
}
input {
    border: 2px solid black;
}
input[type=button] {
    font-weight: bold;
    border: 2px solid black;
    background: #ccc;
    border-radius: 1vh;
    padding: 0.5vh;
    font-size: 2.5vh;
    vertical-align: middle;
    cursor: pointer;
}
input[type=button]:hover {
    background: #cfc;
}
.pla_check_label:hover {
    background: #cfc;
    cursor: pointer;
}
.pla_radio_label:hover {
    background: #cfc;
    cursor: pointer;
}
input[type=number] {
    font-weight: bold;
    border: 2px solid black;
    font-size: 2.5vh;
}
input[type=number]:hover {
    background: #cfc;
}
input[type=radio] {
    border: 2px solid black;
}
input[type=color] {
    width: 6vh;
    height: 4vh;
    vertical-align: middle;
    cursor: pointer;
}
input[type=file] {
    display: none;
}
.custom-file-upload {
    border: 2px solid black;
    background: #ccc;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    border-radius: 1vh;
    padding: 0.5vh;
    font-size: 2.5vh;
    vertical-align: middle;
}
.custom-file-upload:hover {
    background: #cfc;
}
select {
    font-weight: bold;
    border: 2px solid black;
}
select:hover {
    background: #cfc;
}
textarea {
    border: 2px solid black;
}
textarea:hover {
    background: #cfc;
}
.custom-checkbox {
    display: none;
    width: 2vh;
    height: 2vh;
}
.custom-checkbox + span {
    width: 2vh;
    height: 2vh;
    padding: 0;
    border: 2px solid #000;
    position: relative;
    display: inline-block;
    background-color: #fff;
    vertical-align: text-top;
}
.custom-checkbox:checked + span {
    background-color: #0f0;
}
.custom-radio {
    display: none;
    width: 2vh;
    height: 2vh;
}
.custom-radio + span {
    width: 2vh;
    height: 2vh;
    padding: 0;
    border: 2px solid #000;
    position: relative;
    display: inline-block;
    background-color: #fff;
    vertical-align: text-top;
    border-radius: 50%;
}
.custom-radio:checked + span {
    background-color: #0f0;
}
.hidden {
    display: none;
}
.dragover {
    border: 10px dotted blue;
}
.nowrap {
    white-space: nowrap;
}
